{
    "presets": [
        "react-app"
    ],
    "plugins": [
        ["import",{
                "libraryName":"antd-mobile",
                "style": true
            }
        ],
        "syntax-dynamic-import"
    ]
}